[client]
port		= 3306
socket		= /tmp/mysql.sock

[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
skip-locking
key_buffer = 16M
max_allowed_packet = 1M
table_cache = 128
sort_buffer_size = 2M
net_buffer_length = 256K
read_buffer_size = 10M
read_rnd_buffer_size = 10M
myisam_sort_buffer_size = 8M
interactive_timeout = 240
wait_timeout = 240
skip-name-resolve
max_connections = 2000
connect_timeout=30
open_files_limit=8192
query_cache_size = 1024M

thread_concurrency = 8

long_query_time = 1
log-slow-queries = slow.log
log-queries-not-using-indexes

#log-bin=mysql-bin

server-id	= 1
lower_case_table_names=1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
