<?xml version='1.0' encoding='utf-8'?>
<Server port="18084" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <!--<Listener className="org.apache.catalina.storeconfig.StoreConfigLifecycleListener"/>-->
  <GlobalNamingResources>
    <Environment name="simpleValue" type="java.lang.Integer" value="30"/>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="woyo">
    <Connector port="8080" maxHttpHeaderSize="8192"
               maxThreads="1000" minSpareThreads="100" maxSpareThreads="200"
               enableLookups="false" redirectPort="8443" acceptCount="100"
               connectionTimeout="20000" disableUploadTimeout="true"/>

<!--
    <Connector port="8443" protocol="HTTP/1.1" SSLEnabled="false"
               maxThreads="150" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" 
               keystoreFile="/usr/local/tomcat/conf/server.keystore"
               keystorePass="changeit" />

-->
<!--    <Connector port="9002"
               enableLookups="false" redirectPort="8443" protocol="AJP/1.3" />-->
    <Engine name="test" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>


     <Host name="business.mall.woyo.com" appBase=""
        unpackWARs="true" autoDeploy="true"
        xmlValidation="false" xmlNamespaceAware="false">
			<Alias>bussinesscenter.wy</Alias>
        <Context path="" docBase="/var/www/bussinesscenter.woyo.com/" debug="0" reloadable="false">
        <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="/data/logs/tomcat/"  prefix="bussinesscenter_log_." suffix="acces.txt"
                pattern="common" resolveHosts="false"/>
        <Logger className="org.apache.catalina.logger.FileLogger"
                directory="/data/logs/tomcat/"  prefix="bussinesscenter_log_" suffix="error.txt"
                timestamp="true"/>
        </Context>
    </Host>


     <Host name="seller.mall.woyo.com" appBase=""
        unpackWARs="true" autoDeploy="true"
        xmlValidation="false" xmlNamespaceAware="false">
			<Alias>seller.mall.wy</Alias>
        <Context path="" docBase="/var/www/seller.mall.woyo.com/" debug="0" reloadable="false">
        <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="/data/logs/tomcat/"  prefix="seller_log_." suffix="acces.txt"
                pattern="common" resolveHosts="false"/>
        <Logger className="org.apache.catalina.logger.FileLogger"
                directory="/data/logs/tomcat/"  prefix="seller_log_" suffix="error.txt"
                timestamp="true"/>
        </Context>
    </Host>

	
     <Host name="buyer.mall.woyo.com" appBase=""
        unpackWARs="true" autoDeploy="true"
        xmlValidation="false" xmlNamespaceAware="false">
				<Alias>buyer.mall.wy</Alias>
        <Context path="" docBase="/var/www/buyer.mall.woyo.com/" debug="0" reloadable="false">
        <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="/data/logs/tomcat/"  prefix="buyer_log_." suffix="acces.txt"
                pattern="common" resolveHosts="false"/>
        <Logger className="org.apache.catalina.logger.FileLogger"
                directory="/data/logs/tomcat/"  prefix="buyer_log_" suffix="error.txt"
                timestamp="true"/>
        </Context>
     </Host>

     <Host name="boss.mall.woyo.com" appBase=""
        unpackWARs="true" autoDeploy="true"
        xmlValidation="false" xmlNamespaceAware="false">
				<Alias>boss.mall.wy</Alias>
        <Context path="" docBase="/var/www/boss.mall.woyo.com/" debug="0" reloadable="false">
        <Valve className="org.apache.catalina.valves.AccessLogValve"
                directory="/data/logs/tomcat/"  prefix="boss_log_." suffix="acces.txt"
                pattern="common" resolveHosts="false"/>
        <Logger className="org.apache.catalina.logger.FileLogger"
                directory="/data/logs/tomcat/"  prefix="boss_log_" suffix="error.txt"
                timestamp="true"/>
        </Context>
    </Host>
    </Engine> 
  </Service>
</Server>

